[submodule "vendor/socket.io"]
	path = vendor/socket.io
	url = https://github.com/socketio/socket.io.git
[submodule "vendor/socket.io-client-cpp"]
	path = vendor/socket.io-client-cpp
	url = https://github.com/socketio/socket.io-client-cpp.git
